@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
  white-space: pre-wrap;
}

select {
  padding: 1rem;
  border: none;
  background-color: #E4E4E4;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

button:focus {
  outline: none;
}



/*--------------------------------------------------------*/

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
}

.dividerH {
  margin: 8rem 0rem 8rem 0rem;
  background-color: rgba(0, 0, 0, 0.212);
  width: 1px;
}

/*-------------------------------------------------------*/

.container {
  padding: 0rem 4rem 1rem 4rem
}

@import url('./styles/header.css');
@import url('./styles/home.css');
@import url('./styles/search.css');
@import url('./styles/postResults.css');
@import url('./styles/available.css');
@import url('./styles/add.css');
@import url('./styles/post.css');